# Postgres Container configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=uptime_monitor

# FastAPI Backend Configuration
# DATABASE_URL references the container DNS host 'db'
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/uptime_monitor
ENV=development

# Frontend Axios API client endpoint
VITE_API_URL=http://localhost:8000
